<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACME</title>
</head>
<body>
    <form name="upload_json" id="upload_json" action="upload_file" method="POST"
          enctype="multipart/form-data">
        <label for="json_file">Upload the json file:</label>
        <br>
        <input type="file"
               id="json_file" name="json_file"
               accept=".json">
        <br />
        <input type="submit" name="submit" value="Upload file">
    </form>
</body>
</html>